/* #1c1f24 - color home */
/* #e94c3b -color css */
/* #319adb - color jquery */
/* #9a59b5 - color html */
/* #23c383 - color bootstrap */
/* #e0bb0c - color python */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

